*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: linear-gradient(75deg,#03045e, #0077b6,#0096c7,#00b4d8,#48cae4,#90e0ef,#ade8f4,#caf0f8 );
    background-size: 400% 400%;
}



.headerClass{
    padding: 25px 40px;
    font-family: 'Caveat', cursive;
    text-transform:uppercase;
    
}

.tituloIndex{
    font-size: 8rem;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    color: #d7e3eb;
    
    }
    .animate__animated.animate__backInLeft{
        --animate-duration: 2s;
    }

.headerPrincipal{
background-color: #D7E3EB;
background: url(./img/argentina-campeon3.jpg) no-repeat;
width: auto;
height: 35rem;
margin: 30px auto;
background-size: cover;



}

.navPrincipal{
    font-size: 1.9rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 4px solid #7c7a7a;
    font-family: 'Caveat', cursive;
    background-color:#caf0f8;
    padding: 0.05rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
   
}

.navPrincipal ul{
display: flex;
flex-direction:row;   
justify-content:space-around; 
flex-wrap: wrap;

}
.navPrincipal ul li{
    
    
    margin-top: 1rem;
   
}
.navPrincipal li a:hover{
    background-color: #264653;
    border-radius: 15px;
   
     
}
.navPrincipal a{
    text-decoration: none;
    color: #1e1e1c;
   
}

.tituloClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.navPrincipal ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
}
.tituloPrinIndex{
    font-size: 5rem;
    font-family: 'Caveat', cursive;
    padding: 3rem;
    text-align: center;
    color: #232221;
    
}
.parrafoIndex p{
    font-size: 1.6rem;
    font-family: 'Caveat', cursive;
}



.sectionIndex{
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}   
.sectionIndex div {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
} 
.parrafoIndex {
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    text-align: justify;
}
.parrafoIndex ul {
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-family: 'Caveat', cursive;
    text-align: justify;
    list-style:decimal-leading-zero;
}
.sectionCamp  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 2px ;

}
.divCamp1{
    font-size: 1.4rem;
    font-family: 'Caveat', cursive;
    padding-left: 2rem;
    padding: 1rem;
    width: 50%;
    border: double 5px ;
    text-align: justify;
}
.divCamp2{
    font-size: 1.4rem;
    font-family: 'Caveat', cursive;
    padding-left: 2rem;
    padding: 1rem;
    width: 50%;
    border: double 5px ;
    text-align: justify;
}
.sectionCamp p{
    padding: 1rem;

}
section h2{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding-top: 2rem;
   
}
footer{
    background-color: #5c5c5c;
}



.tituloFooter{
    font-size: 1.5rem;
    font-family:'Caveat', cursive; 
    
}
.tituloFooter h2{
    display: flex;
    flex-direction: row;
justify-content: center;
padding-top: 2rem;
padding-bottom: 4rem;
text-transform: uppercase;
}
.footerLi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.footerLi i{
    padding: 1rem 4rem;
    font-size: 2rem;

}
.copyRight{
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    text-transform: uppercase;  

}

/*Estilos del formulario*/

.formulario {
    display: grid; /*Uso formato de grillas*/
	grid-template-columns: auto auto; /* Uso dos columnas que usan una fraccion del espacio */
    grid-template-rows: auto auto auto auto auto;
    gap: 10px; /* Espacio entre Filas */
    width: 35%; /* Ancho es lo que ocupa el contenido interno*/
    margin: 3em auto; /* Lo centro */
    justify-content: center;
    background-color: #caf0f8;
    border: 2px solid #5c5c5c;
    border-radius: 10px;
}
.Form_div {
    margin: 0.5em 1.5em;
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    font-weight: 600;
    width: auto;
}
.FormInput {
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    width: 100%;
    padding:5px;
    border-radius: 10px;
    margin-top: .25em;
}
.FormInput:invalid {
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    width: 100%;
    padding:5px;
    border-radius: 10px;
    margin-top: .25em;
    border-color: #dd2c00;
}
#FormTitle {
    text-align: center;
    padding-top: 1rem;
    grid-column: span 2
}
#FormNombre {
    padding-top: 0.5rem;
    grid-column: span 1
}
#FormApellido {
    padding-top: 0.5rem;
    grid-column: span 1
}
#FormCorreo {
    grid-column: span 2
}
#FormTelefono {
    grid-column: span 2
}
#FormMensajeTitle {
    grid-column: span 2 /* Ocupa las dos columnas*/
}
#FormMensaje {
    grid-column: span 2 /* Ocupa las dos columnas*/
}
#mensaje {
    height: 80px;
    text-align: justify;
}
.Form-btn-enviar {
    padding-bottom: 1rem;
    grid-column: 1/3;
}
.Form-btn {
    padding: .375rem .75rem;
    border: 1px solid #00000;
    border-radius: .25rem;
    color: #000;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    font-family: 'Caveat', cursive;
    font-size: 1rem;
  }
.Form-btn:hover, .Form-btn:active, .Form-btn:focus {
    color: #caf0f8;
    background-color: #000;
    font-family: 'Caveat', cursive;
    font-size: 1rem;
  }
.formHiden {
    opacity: 0;
}


/*m queries  tablet*/

@media screen and (max-width:768px ){
    .headerPrincipal{
        background-color: #D7E3EB;
        background: url(./img/argentina-campeon3.jpg) no-repeat;
        width:auto;
        height: 17rem;
        margin: 8px auto;
        background-size: cover;
   } 
    .tituloIndex{
        font-size: 4rem;
    }
    .navPrincipal{
        margin: 0 0.6rem 0 0.6rem;
    }
    .tituloPrinIndex{
        font-size: 4rem;
    }
    .sectionIndex{
        display: block;
    }

    .parrafoIndex p, ul{
        font-size: 1.5rem;
    }
    iframe{
        height: 500px;
    }
    .divCamp1{
        font-size: 1.3rem;
        text-align: center;
    }

    .divCamp2{
        font-size: 1.3rem;
        text-align: center;
    }

    .tituloFooter{
        font-size: 1.2rem;
    }
    
    .footerLi i{
        font-size: 1rem;
    }

    .copyRight{
        font-size: 0.5rem;
    }
    .formulario {
        display: block; /*Uso formato de grillas*/
        gap: 10px; /* Espacio entre Filas */
        width: 50%; /* Ancho es lo que ocupa el contenido interno*/
        border-radius: 10px;
    }
    .Form_div {
        margin: 0.5em 1.5em;
        font-size: 0.8rem;
        font-weight: 600;
        width: 85%;
    }
    .FormInput {
        font-family: 'Caveat', cursive;
        font-size: 0.8rem;
        width: 100%;
        border-radius: 10px;
        margin-top: .25em;
    }
}

/*m queries  mobile*/

@media screen and (max-width:500px ){
    .headerPrincipal{
        width: auto;
        height: 14rem;
    }
    .tituloIndex{
        font-size: 3rem;
    }
    .navPrincipa{
        font-size: 1.4rem;
    }
    .navPrincipal ul{
        display: block;
        font-size: 1.4rem;
    }
    .tituloPrinIndex{
        font-size: 3rem;
    }

    .parrafoIndex p, ul{
        font-size: 1.3rem;
    }

    .divCamp1{
        font-size: 1.1rem;
    }

    .divCamp2{
        font-size: 1.1rem;
    }
    .tituloFooter {
        font-size: 1rem; 

    }

    .footerLi i{
        font-size: 0.8rem;
        padding: 25px;
    }
    .formulario {
        display: block; /*Uso formato de grillas*/
        gap: 10px; /* Espacio entre Filas */
        width: 90%; /* Ancho es lo que ocupa el contenido interno*/
        border-radius: 10px;
    }
    .Form_div {
        margin: 0.5em 1.5em;
        font-size: 0.8rem;
        font-weight: 600;
        width: 85%;
    }
    .FormInput {
        font-family: 'Caveat', cursive;
        font-size: 0.8rem;
        width: 100%;
        border-radius: 10px;
        margin-top: .25em;
    }

}

